<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"

        id        = "no.solweb.apps.ProjectMatrix"
        version   = "2.0.0">
    <name>Project Matrix</name>

    <description>
        Project Matrix is a very simple and easy to use application to keep track of which project you spend time on during your work day. Entering data is done by very few clicks.
    </description>

    <author href="http://erlang.no" email="andreas@solweb.no">
        Andreas Åkre Solberg
    </author>


<!--
    <icon src="icon.png" />
    <icon src="res/icons/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icons/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icons/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icons/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icons/blackberry/icon-80.png"     gap:platform="blackberry" />
    <icon src="res/icons/blackberry/icon-80.png"     gap:platform="blackberry" gap:state="hover"/>

-->
    <icon src="icon.png" /><!-- default; don't change location! -->
    <icon src="img/icons/ios/iPhone.png" gap:platform="ios" width="57" height="57" /> <!-- iPhone 3G, 3GS, iPod Touch 2G, 3G -->
    <icon src="img/icons/ios/iPad.png" gap:platform="ios" width="72" height="72" /> <!-- iPad 1, 2, iPad mini -->
    <icon src="img/icons/ios/iPhoneRetina.png" gap:platform="ios" width="114" height="114" /> <!-- iPhone 4, 4S, iPod Touch 4G -->
    <icon src="img/icons/ios/iPadRetina.png" gap:platform="ios" width="144" height="144" /> <!-- iPad 3, 4 -->
    <!--
    <icon src="res/icons/webos/icon-64.png"          gap:platform="webos" />
    <icon src="res/icons/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icons/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />


    <gap:splash src="res/splash/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/splash/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/splash/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/splash/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="res/splash/blackberry/screen-225.png"         gap:platform="blackberry" />
-->
    <!-- <gap:splash src="res/splash/ios/Default~iphone.png"            gap:platform="ios"     width="320" height="480" /> -->
    <!-- <gap:splash src="res/splash/ios/Default@2x~iphone.png"         gap:platform="ios"     width="640" height="960" /> -->
    <!-- <gap:splash src="res/splash/ios/Default-Portrait~ipad.png"     gap:platform="ios"     width="768" height="1024" /> -->
    <!-- <gap:splash src="res/splash/ios/Default-Landscape~ipad.png"    gap:platform="ios"     width="1024" height="768" /> -->
<!--
    <gap:splash src="res/splash/windows-phone/screen-portrait.jpg" gap:platform="winphone" />
-->

    <preference name="permissions" value="none"/>
    

<!--     <gap:plugin name="ChildBrowser" /> -->
    <!-- <gap:plugin name="GenericPush" /> -->
    
</widget>